__pycache__/
*.py[cod]
.vscode/
etc/
.DS_Store
node_modules
.coverage*
coverage.xml
wandb
lightning_logs/
tft_model.ckpt
.python-version
*-all.csv
*.ckpt*
platform/discord/target
infrastructure/core/infrastructure
infrastructure/kubeflow/kubeflow
.envrc
env*
.pytest_cache/
.ruff_cache/


**/*.ipynb_checkpoints

libraries/python/pocketsizefund/build

**/target*/
