.DS_Store
.flox/cache/
.flox/log/
.flox/run/
.env
.ruff_cache/
.pytest_cache/
.venv/
.python_coverage.*
coverage_output/
__pycache__/
infrastructure/Pulumi.infrastructure.yaml
infrastructure/Pulumi.production.yaml
.envrc
.coverage*
.coverage/
coverage.xml
infrastructure/swarm.pem
*.csv
*.egg-info/
wandb/
**/*/target/
