[graph]
targets = []
all-features = false
no-default-features = false

[output]
feature-depth = 1

[advisories]
ignore = []

[licenses]
allow = [
    "MIT",
    "Unicode-DFS-2016",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "OpenSSL",
    "Zlib",
    "ISC",
]
confidence-threshold = 0.8
exceptions = []

[[licenses.clarify]]
name = "ring"
version = "0.17.8"
expression = "OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]

[licenses.private]
ignore = false

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []
deny = []
skip = []
skip-tree = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
