---
name: Launch infrastructure
on:
  schedule:
    - cron: 0 13 * * 1,2,3,4,5 # launch at 8:00 AM EST
jobs:
  launch_infrastructure:
    name: Launch infrastructure on weekday schedule
    runs-on: ubuntu-latest
    environment: pulumi
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Flox
        uses: flox/install-flox-action@v2
      - name: Deploy with Pulumi
        uses: flox/activate-action@v1
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        with:
          command: |
            mask infrastructure images build datamanager server
            mask infrastructure images push datamanager server
            mask infrastructure images build portfoliomanager server
            mask infrastructure images push portfoliomanager server
            mask infrastructure images build equitypricemodel server
            mask infrastructure images push equitypricemodel server
            mask infrastructure stack up
